$body-bg: #000;
$body-color: #111;

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

#main {
    &>div {
        background-color: red;
    }
}
